*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}
.box{
    margin: auto;
    border: 2px solid black;
    /* width: 80vw;
    height: 80vh; */
    width: 233px;
    font-size: 2rem;

}
.container{
    background-color: aquamarine;
    margin-top: 3px;
    /* width: 70vw;
    height: 30vh; */
    font-size: 20px;
    border: 2px solid black;
    width: 100vmin;
}
.container p{
    font-size: 2em;

}