/* Element selector */
.red{
    background-color: red;
}
#green{
    background-color: aquamarine;
    color: rgb(255, 140, 1);
}
/* child selector */
div > p {
    background-color:  brown;
    color: rgb(52, 255, 6);
}

/* Desendent selector */
div p {
    color: white;
    background-color: black;
}
/* Universal Selector */
*{
margin: 0;
padding: 0;
}
/* Pseudo selector */
a:visited{
    color: black;
}

.box{
    background-color: rgb(135, 225, 225);
}
.box1{
    color: yellow;
    padding: 10px;
    margin: 25px;
    border: 2px solid, black ;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: red;
    padding: 10px;
    margin: 25px;
    border: 2px solid, black ;
    height: 200px;
    box-sizing: border-box;
}