.box{
    border : 2px solid blue;
    /* display: inline; */
    display: inline-block;
    padding: 45px;
}
#flex{
    /* display: flex; */
    justify-self: center;
    justify-items: center;
    /* justify-content: right; */
    border: 2px dotted red;
    width : 40vw;
}
#shodow{
    border: 2px solid coral;
    box-shadow: 5px 15px 5px greenyellow;
    outline: 2px solid black;
    width: 230px;
    text-shadow: 2px 10px 2px yellowgreen;
}