.List{
    /* display: flex; */
    /* justify-self: flex-start;     */
    /* list-style: devanagari; */
    list-style-type: square;
    background-color: aqua;
    list-style-position: inside;
    border: 2px dotted blueviolet;
    width: 33.33vw;
    padding: 2px;
    /* justify-self: center; */
    text-align: center;
    list-style: none;
}
ul{
    display: flex;
}
.box{
    width: 30vw;
    height: 20vh;
    border: 1px solid black;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* text-overflow: ellipsis; */
    overflow-y: hidden;
    overflow-x: scroll;
}