.second{
    color: red;
    background-color: yellow;

}
.first{
    color: white;
    background-color: blue;
}
h1{
    color : aqua;
}
.yellow{
    color: yellow;
}
.cred{
    color: red;
}
.cgreen{
    color: green;
}